Sphinx==4.5.0
recommonmark==0.7.1
six==1.16.0
sphinx_markdown_tables==0.0.17
ruamel.yaml
gevent
chardet
netifaces>=0.10.9
dicttoxml>=1.7.4
lxml
elementpath
nest_asyncio
requests
grpcio>=1.21.1
grpcio-health-checking>=1.21.1
googleapis-common-protos
grpcio-tools
bson
aiosqlite
psycopg
aiomysql
motor
prompt-toolkit
flask-cors
flask
flask-restful
flask-httpauth
flask-socketio
gevent-websocket
websocket-client
werkzeug
sanic==21.12.1
sanic-ext==21.12.1
Sanic-Cors
sanic-plugin-toolkit
pycryptodome
psutil
aiohttp